{
  "presets": [
    "babel-preset-react-native-stage-0/decorator-support",
    "babel-preset-expo"
  ],
  "plugins": [
    [
      "transform-react-jsx-source",
      "react",
      "jsx-ally",
      "import",
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": "."
      }
    ]
  ]
}
